.details-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.6);

display:flex;

justify-content:center;

align-items:center;

z-index:1000;

}

.details-box{

width:90%;

max-width:950px;

background:#1e293b;

border-radius:14px;

padding:25px;

color:white;

max-height:80vh;

overflow:auto;

}

.details-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.details-header h2{

font-size:26px;

}

.details-header button{

background:none;

border:none;

color:white;

font-size:24px;

cursor:pointer;

}

.total-ticket{

margin-bottom:20px;

color:#cbd5e1;

font-size:16px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#334155;

padding:14px;

text-align:left;

}

td{

padding:14px;

border-bottom:1px solid #334155;

}

tr:hover{

background:#273449;

}